<launch>
    <!-- Nodo principal del juego (Pygame + servicios) -->
    <node pkg="ros_game" type="game_node.py" name="game_node" output="screen" />

    <!-- Nodo que pide los datos del usuario por terminal -->
    <node pkg="ros_game" type="info_user.py" name="info_user" output="screen" />

    <!-- Nodo que muestra el resultado y llama al servicio user_score -->
    <node pkg="ros_game" type="result_node.py" name="result_node" output="screen" />

    <!-- Nodo de control del teclado EN OTRA TERMINAL -->
    <!-- Usa xterm; si no lo tienes, se instala con: sudo apt-get install xterm -->
    <node pkg="ros_game" type="control_node.py" name="control_node"
          output="screen"
          launch-prefix="xterm -e" />
</launch>